<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/regular.min.css" integrity="sha512-rOTVxSYNb4+/vo9pLIcNAv9yQVpC8DNcFDWPoc+gTv9SLu5H8W0Dn7QA4ffLHKA0wysdo6C5iqc+2LEO1miAow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./iconsBox.css">
    <title>Document</title>
</head>
<body>
    <div class="icons">
        <div class="icons__box">
            <i class="fa-solid fa-medal icons__icon icons__icon--blue"></i>
            <h3 class="icons__tittle">
                316,000+
            </h3>
            <p class="icons__text">
                Qualified Instructor
            </p>
        </div>
        <div class="icons__box">
            <i class="fa-solid fa-user-group icons__icon icons__icon--yellow"></i>
            <h3 class="icons__tittle">
                1.8 Billion+
            </h3>
            <p class="icons__text">
                Course enrolments
            </p>
        </div>
        <div class="icons__box">
            <i class="fa-solid fa-tv icons__icon icons__icon--violet"></i>
            <h3 class="icons__tittle">
                41,000+
            </h3>
            <p class="icons__text">
                Courses in 42 languages
            </p>
        </div>
        <div class="icons__box">
            <i class="fa-solid fa-film icons__icon icons__icon--green"></i>
            <h3 class="icons__tittle">
                19,000+
            </h3>
            <p class="icons__text">
                Online Videos
            </p>
        </div>
    </div>
</body>
</html>