:root {
    --hover-font-color: #754ffe;
    --hover-background-color: #f1f5f9;
    --background-color-01: #fff;
    --button-background-color01: #ede9fe;
    --nav-border-color: #e2e8f0;
    --dropdown-box-shadow: 0 10px 30px 0 rgba(31,45,61,.1);
}