.btn {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 600;
    margin: 0 8px;
    padding: 8px 16px;
    color: #fff;
    background-color: #754FFE;
    border: 1px solid #754FFE;
    border-radius: 5px;
}

.btn--empty {
    color: #754FFE;
    background-color: #1E293B;
}

.btn--dark {
    background-color: #312B4D;
    border: #312B4D;
    color: #754FFE;
}

.btn-icon {
    font-size: 10px;
}