<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="./drop-down.css">
    <title>Document</title>
</head>
<body>

</body>
<div class="container">
    <ul class="container__list">
        <li class="container__listElement">
            <a class="container__link">Landings<i class="container__icon fa-solid fa-chevron-down"></i>
            </a>
            <ul class="container__dropdown">
                <li class="container__dropdownLink"><a class="container__categoryLink">Education</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Home academy</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Courses</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Lead Course</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Request Acces</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">SasS</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Job Listing</a></li>
            </ul>
        </li>
        <li class="container__listElement">
            <a class="container__link">Pages<i class="container__icon fa-solid fa-chevron-down"></i>
            </a>
            <ul class="container__dropdown">
                <li class="container__dropdownLink"><a class="container__categoryLink">Courses</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Paths</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Blogs</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Carrer</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Portfolio</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Job</a></li>
                <li class="container__dropdownLink"><a class="container__categoryLink">Speciality</a></li>
            </ul>
        </li>
        <li class="container__listElement">
            <a class="container__link">Accounts<i class="container__icon fa-solid fa-chevron-down"></i>
            </a>
                <ul class="container__dropdown">
                    <li class="container__dropdownLink"><a class="container__categoryLink">Sign in</a></li>
                    <li class="container__dropdownLink"><a class="container__categoryLink">Sign up</a></li>
                    <li class="container__dropdownLink"><a class="container__categoryLink">Forgot password</a></li>
                    <li class="container__dropdownLink"><a class="container__categoryLink">Edit profile</a></li>
                    <li class="container__dropdownLink"><a class="container__categoryLink">Security</a></li>
                    <li class="container__dropdownLink"><a class="container__categoryLink">Social profiles</a></li>
                    <li class="container__dropdownLink"><a class="container__categoryLink">Notifications</a></li>
                </ul>
        </li>
    </ul>
</div>
<script src="./drop-down.js"></script>
</html>
