<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="./dropdown.css">
    <title>Document</title>
</head>
<body>
<div class="navBar">
    <ul class="navBar__list">
        <li class="navBar__listElement dropdownContainer">
            <a class="navBar__listElementButton dropdownContainer__button">Landings<i class="navBar__icon fa-solid fa-chevron-down"></i>
            </a>
            <ul class="dropdownContainer__dropdown">
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Education</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Home academy</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Courses</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Lead Course</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Request Acces</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">SasS</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Job Listing</a>
                </li>
            </ul>
        </li>
        <li class="navBar__listElement dropdownContainer">
            <a class="navBar__listElementButton dropdownContainer__button">Pages<i class="navBar__icon fa-solid fa-chevron-down"></i>
            </a>
            <ul class="dropdownContainer__dropdown">
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Courses</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Paths</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Blogs</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Carrer</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Portfolio</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Job</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Speciality</a>
                </li>
            </ul>
        </li>
        <li class="navBar__listElement dropdownContainer">
            <a class="navBar__listElementButton dropdownContainer__button">Accounts<i class="navBar__icon fa-solid fa-chevron-down"></i>
            </a>
            <ul class="dropdownContainer__dropdown">
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Sign in</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Sign up</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Forgot password</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Edit profile</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Security</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Social profiles</a>
                </li>
                <li class="dropdownContainer__listElement">
                    <a class="dropdownContainer__elementLink">Notifications</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="button dropdownContainer">
    <a class="button__link dropdownContainer__button">
    <i class=" button__logo fa-solid fa-bars"></i>Category</a>
    <ul class="button__dropdown dropdownContainer__dropdown">
        <li class="dropdownContainer__listElement">
            <a class="dropdownContainer__elementLink">Web development</a>
        </li>
        <li class="dropdownContainer__listElement">
            <a class="dropdownContainer__elementLink">Design</a>
        </li>
        <li class="dropdownContainer__listElement">
            <a class="dropdownContainer__elementLink">Mobile app</a>
        </li>
        <li class="dropdownContainer__listElement">
            <a class="dropdownContainer__elementLink">It software</a>
        </li>
        <li class="dropdownContainer__listElement">
            <a class="dropdownContainer__elementLink">Marketing</a>
        </li>
        <li class="dropdownContainer__listElement">
            <a class="dropdownContainer__elementLink">Music</a>
        </li>
        <li class="dropdownContainer__listElement">
            <a class="dropdownContainer__elementLink">Life Style</a>
        </li>
    </ul>
</div>
<script src="./dropdown.js"></script>
</body>
</html>
