<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="./cards.css">
    <title>Document</title>
</head>
<body>
    <div class="navBar">
        <ul class="navBar__list">
            <li class="navBar__listElement">
                <a class="navBar__listElementLink navBar__listElementLink-clicked">Javascript</a>
            </li>
            <li class="navBar__listElement">
                <a class="navBar__listElementLink">Css</a>
            </li>
            <li class="navBar__listElement">
                <a class="navBar__listElementLink">GraphQL</a>
            </li>
        </ul>
    </div>
    <div class="container container-active">
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-javascript.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-advanced">Advanced</span>
                <h2 class="container__cardTitle">How to easily create a website with JavaScript</h2>
                <div class="container__cardAuthor">By: Claire Evans</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$29.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-javascript.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-advanced">Advanced</span>
                <h2 class="container__cardTitle">How to easily create a website with JavaScript</h2>
                <div class="container__cardAuthor">By: Claire Evans</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$29.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-javascript.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-advanced">Advanced</span>
                <h2 class="container__cardTitle">How to easily create a website with JavaScript</h2>
                <div class="container__cardAuthor">By: Claire Evans</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$29.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-javascript.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-advanced">Advanced</span>
                <h2 class="container__cardTitle">How to easily create a website with JavaScript</h2>
                <div class="container__cardAuthor">By: Claire Evans</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$29.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-javascript.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-advanced">Advanced</span>
                <h2 class="container__cardTitle">How to easily create a website with JavaScript</h2>
                <div class="container__cardAuthor">By: Claire Evans</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$29.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-javascript.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-advanced">Advanced</span>
                <h2 class="container__cardTitle">How to easily create a website with JavaScript</h2>
                <div class="container__cardAuthor">By: Claire Evans</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$29.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-javascript.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-advanced">Advanced</span>
                <h2 class="container__cardTitle">How to easily create a website with JavaScript</h2>
                <div class="container__cardAuthor">By: Claire Evans</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$29.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-javascript.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-advanced">Advanced</span>
                <h2 class="container__cardTitle">How to easily create a website with JavaScript</h2>
                <div class="container__cardAuthor">By: Claire Evans</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$29.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-css.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-beginer">Beginer</span>
                <h2 class="container__cardTitle">CSS: ultimate CSS course from beginner to advanced</h2>
                <div class="container__cardAuthor">By: Carolyn Welborn</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$30.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-css.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-beginer">Beginer</span>
                <h2 class="container__cardTitle">CSS: ultimate CSS course from beginner to advanced</h2>
                <div class="container__cardAuthor">By: Carolyn Welborn</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$30.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-css.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-beginer">Beginer</span>
                <h2 class="container__cardTitle">CSS: ultimate CSS course from beginner to advanced</h2>
                <div class="container__cardAuthor">By: Carolyn Welborn</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$30.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-css.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-beginer">Beginer</span>
                <h2 class="container__cardTitle">CSS: ultimate CSS course from beginner to advanced</h2>
                <div class="container__cardAuthor">By: Carolyn Welborn</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$30.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-css.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-beginer">Beginer</span>
                <h2 class="container__cardTitle">CSS: ultimate CSS course from beginner to advanced</h2>
                <div class="container__cardAuthor">By: Carolyn Welborn</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$30.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-css.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-beginer">Beginer</span>
                <h2 class="container__cardTitle">CSS: ultimate CSS course from beginner to advanced</h2>
                <div class="container__cardAuthor">By: Carolyn Welborn</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$30.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-css.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-beginer">Beginer</span>
                <h2 class="container__cardTitle">CSS: ultimate CSS course from beginner to advanced</h2>
                <div class="container__cardAuthor">By: Carolyn Welborn</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$30.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-css.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-beginer">Beginer</span>
                <h2 class="container__cardTitle">CSS: ultimate CSS course from beginner to advanced</h2>
                <div class="container__cardAuthor">By: Carolyn Welborn</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">$30.00</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-graphql.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-intermediate">Intermediate</span>
                <h2 class="container__cardTitle">GraphQL: introduction to graphQL for beginners</h2>
                <div class="container__cardAuthor">By: Michael Cundiff</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">Free</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-graphql.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-intermediate">Intermediate</span>
                <h2 class="container__cardTitle">GraphQL: introduction to graphQL for beginners</h2>
                <div class="container__cardAuthor">By: Michael Cundiff</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">Free</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-graphql.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-intermediate">Intermediate</span>
                <h2 class="container__cardTitle">GraphQL: introduction to graphQL for beginners</h2>
                <div class="container__cardAuthor">By: Michael Cundiff</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">Free</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-graphql.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-intermediate">Intermediate</span>
                <h2 class="container__cardTitle">GraphQL: introduction to graphQL for beginners</h2>
                <div class="container__cardAuthor">By: Michael Cundiff</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">Free</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-graphql.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-intermediate">Intermediate</span>
                <h2 class="container__cardTitle">GraphQL: introduction to graphQL for beginners</h2>
                <div class="container__cardAuthor">By: Michael Cundiff</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">Free</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-graphql.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-intermediate">Intermediate</span>
                <h2 class="container__cardTitle">GraphQL: introduction to graphQL for beginners</h2>
                <div class="container__cardAuthor">By: Michael Cundiff</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">Free</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-graphql.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-intermediate">Intermediate</span>
                <h2 class="container__cardTitle">GraphQL: introduction to graphQL for beginners</h2>
                <div class="container__cardAuthor">By: Michael Cundiff</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">Free</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
        <div class="container__card">
            <div class="container__cardImage"><img class="container__pic" src="./images/course-graphql.jpg" alt=""></div>
            <div class="container__cardBody">
                <span class="container__cardBadge container__cardBadge-intermediate">Intermediate</span>
                <h2 class="container__cardTitle">GraphQL: introduction to graphQL for beginners</h2>
                <div class="container__cardAuthor">By: Michael Cundiff</div>
                <div class="container__cardRating">
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <i class="container__cardStar fa-solid fa-star"></i>
                    <span class="container__ratingReference">4.5 <span class="container__ratingsReceived">(696969)</span></span>
                </div>
            </div>
            <div class="container__cardFooter">
                <div class="container__cardPrice">Free</div>
                <div class="container__cardPurchase"><i class="container__cardTrolley fa-solid fa-cart-shopping"></i>Get Enrolled</div>
            </div>
        </div>
    </div>

</body>
<script src="./cards.js"></script>
</html>
