@use '../abstracts';
$navigationHeadingWidth01: 7rem;

 .navBar {
    $nrOfLinks: 3;
       
    display: flex;
    height: fit-content;
    justify-content:center;
    align-items: center;
 
      &__list {
       height: fit-content;
       width: calc($navigationHeadingWidth01 * $nrOfLinks);
       display: flex;
       list-style: none;
      }
      
      &__icon {
       margin-left: 0.5rem;
      }
 
      &__listElementButton {
       padding-top: 1rem;
       padding-bottom: 1rem;
      }
 
      &__listElementButton:hover {
       color: var(--hover-font-color);
      }     
 }
  
 //code for all dropdown lists to be reused
  .dropdownContainer {
 
    $categoryLinkHeight : 1rem;
    $nrOfCategoryLinks : 7;
    $categoryLinkPaddingTopBottom: 1rem;
    $hightOfCategoryLink: calc($categoryLinkHeight + $categoryLinkPaddingTopBottom);
 
    &__button{
        width: $navigationHeadingWidth01;
        display: flex;
        justify-content: center;
 
    }
 
    &__button:hover{
        color: var(--hover-font-color);
    }
 
    &__dropdown {
        list-style: none;
        display: none;
        position: absolute;
        background-color: var(--background-color-01);
        border-radius: 0.3rem;
        transform-origin: bottom;
        transform: translateY(20px);
        transition: all 0.3s ease-in-out;
        box-shadow:  var(--dropdown-box-shadow);
    }
 
    &__dropdown-hide {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: fit-content;
        opacity: 0;
        visibility: hidden;
        z-index: -100;
    }
 
    &__dropdown-show {
        visibility: visible;
        z-index: 100;
        opacity: 1;
        transform: translateY(0);
        height: calc($hightOfCategoryLink * $nrOfCategoryLinks);
      }
 
      &__elementLink {
        height: $categoryLinkHeight;
        display: flex;
        align-items: center;
        width: 100%;
        padding: $categoryLinkPaddingTopBottom 1.2rem;
      }
 
      &__elementLink:hover {
        background-color: var(--hover-background-color);
        color: var(--hover-font-color);
      }
   }
 
 