@use '../abstracts';

 .navBar {
    $nrOfLinks: 3;
       
    display: flex;
    height: fit-content;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid var(--nav-border-color);
    padding-left: 1rem;
    padding-right: 1rem;

    &__buttons {
      display: flex;
      align-items: center;
      }
  
    &__list {
      height: fit-content;
      display: flex;
      list-style: none;
    }
    
    &__icon {
      margin-left: 0.5rem;
    }

    &__listElementButton {
      background-color: var(--background-color-01);
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      width: fit-content;
    }

    &__listElementButton:hover {
      color: var(--hover-font-color);
    }     
 }
  
 //code for all dropdown lists to be reused
  .dropdownContainer {
 
    $dropdownListWidth: 13rem;
    $categoryLinkHeight : 1rem;
    $nrOfCategoryLinks : 7;
    $categoryLinkPaddingTopBottom: 0.5rem;
    $hightOfCategoryLink: calc($categoryLinkHeight + $categoryLinkPaddingTopBottom);

    &__button{
      display: flex;
      justify-content: center;
    }
 
    &__button:hover{
      color: var(--hover-font-color);
    }
 
    &__dropdown {
      list-style: none;
      display: none;
      position: absolute;
      width: $dropdownListWidth;
      background-color: var(--background-color-01);
      border-radius: 0.3rem;
      transform-origin: bottom;
      transform: translateY(20px);
      transition: all 0.2s ease-in-out;
      box-shadow:  var(--dropdown-box-shadow);
    }

    &__2ndLevelContainer {
      display: flex;
    }

    &__2ndLevelDropdown {
      width: $dropdownListWidth;
      position: absolute;
      left: 100%;
    }
 
    &__dropdown-hide {
      display: flex;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      z-index: -100;
    }
 
    &__dropdown-show {
      visibility: visible;
      z-index: 100;
      opacity: 1;
      transform: translateY(0);
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
 
    &__elementLink {
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: $categoryLinkPaddingTopBottom 1.2rem;
    }

    &__elementHr{
      border-top: 1px solid var(--nav-border-color);
      margin: 1rem;
    }

    &__elementDiv{
      display: flex;
      flex-direction: column;
      padding: $categoryLinkPaddingTopBottom 1.2rem;
    }

    &__elementH3{
      font-weight: 400;
      padding-bottom: 0.5rem;
      font-size: 0.8rem;
    }

    &__elementP{
      font-weight: 300;
      font-size: 0.8rem;
    }

    &__elementLink:hover {
      background-color: var(--hover-background-color);
      color: var(--hover-font-color);
    }

    &__elementLinkRoundBtn {
      justify-content: left;
    }
  }